.image-house-detail {
 width: 400px;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px; 
//   background-color: #f8f9fa; 
//   border: 1px dashed #ced4da; 
}