.no-scrollbar::-webkit-scrollbar {
  display: none; /* Dành cho Chrome, Safari và Opera */
}

.image-house {
    height: 230px;
  width: 100%; 
  object-fit: cover;
}

/* File: ListHouse.scss or your main CSS file */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li a {
  color: #007bff;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .disabled a {
  color: #aaa;
  cursor: not-allowed;
}
